<form [formGroup]="loginForm"
      (ngSubmit)="login()"
      novalidate>

  <div>
    <input matInput
           type="email"
           placeholder="帳號"
           formControlName="username"
           required>
    <ng-container *ngIf="username.invalid && (username.dirty && username.touched)">
      <mat-error *ngIf="username.errors.required">請輸入帳號</mat-error>
      <mat-error *ngIf="username.errors.email">帳號必須為 Email</mat-error>
    </ng-container>
  </div>

  <div>
    <input matInput
           type="password"
           placeholder="密碼"
           formControlName="password"
           required>
    <ng-container *ngIf="password.invalid && (password.dirty && password.touched)">
      <mat-error *ngIf="password.errors.required">請輸入密碼</mat-error>
    </ng-container>
  </div>

  <div>
    <button>Submit</button>
  </div>

</form>
