<nav id="menu">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="register">Register</a></li>
    <li><a routerLink="products">Products</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
