<form [formGroup]="registerForm"
      (ngSubmit)="register()"
      novalidate>

  <div>
    <input matInput
           type="email"
           placeholder="帳號"
           formControlName="Email"
           required>
    <ng-container *ngIf="Email.invalid && (Email.dirty && Email.touched)">
      <mat-error *ngIf="Email.errors.required">請輸入帳號</mat-error>
      <mat-error *ngIf="Email.errors.email">帳號必須為 Email</mat-error>
    </ng-container>
  </div>

  <div>
    <input matInput
           type="password"
           placeholder="密碼"
           formControlName="Password"
           required>
    <ng-container *ngIf="Password.invalid && (Password.dirty && Password.touched)">
      <mat-error *ngIf="Password.errors.required">請輸入密碼</mat-error>
    </ng-container>
  </div>

  <div>
    <input matInput
           type="password"
           placeholder="確認密碼"
           formControlName="ConfirmPassword"
           required>
    <ng-container *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty && ConfirmPassword.touched)">
      <mat-error *ngIf="ConfirmPassword.errors.required">請輸入密碼</mat-error>
    </ng-container>
  </div>

  <div>
    <button>Submit</button>
  </div>

</form>
